<div class="form-wrapper">
  <h1 class="app-title">Companies Registry</h1>
  <h2 class="form-title">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input formControlName="email" type="email" />

    <label>Password</label>
    <input formControlName="password" type="password" />

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <div *ngIf="error">{{ error }}</div>

    <a class="register-link" (click)="goToRegister()" href="javascript:void(0)">Don't have an account? Register</a>
  </form>
</div>
